@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");

.cabecario {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

.conteudo {
  font-family: "Lato", sans-serif;
  text-align: center;
  display: grid;
}

.conteudo input {
  background-color: aqua;
}

.conteudo button {
  background-color: aqua;
  border-radius: 25px;
  padding: 1%;
  border-style: none;
  margin-bottom: 1%;
}
.conteudo button:hover {
  background-color: rgb(56, 119, 119);
  cursor: pointer;
}

.saida {
  background-color: aliceblue;
  font-size: 1.5rem;
}
